In [16]:
import seaborn as sbn
import numpy as np
import pandas as pd 
import sklearn
from sklearn.model_selection import train_test_split

In [2]:
df=sbn.load_dataset('iris')
df()

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [13]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [4]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [15]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [6]:
df1=df[df['species']!='setosa']

In [7]:
df1

     sepal_length  sepal_width  petal_length  petal_width     species
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

[100 rows x 5 columns]

In [8]:
df1['species'].unique()

array(['versicolor', 'virginica'], dtype=object)

In [9]:
df1['species']=df1['species'].map({'versicolor':0,'virginica':1})

C:\Users\91724\AppData\Local\Temp\ipykernel_12840\4235581281.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['species']=df1['species'].map({'versicolor':0,'virginica':1})

In [10]:
df1

     sepal_length  sepal_width  petal_length  petal_width  species
50            7.0          3.2           4.7          1.4        0
51            6.4          3.2           4.5          1.5        0
52            6.9          3.1           4.9          1.5        0
53            5.5          2.3           4.0          1.3        0
54            6.5          2.8           4.6          1.5        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        1
146           6.3          2.5           5.0          1.9        1
147           6.5          3.0           5.2          2.0        1
148           6.2          3.4           5.4          2.3        1
149           5.9          3.0           5.1          1.8        1

[100 rows x 5 columns]

In [11]:
X=df1.iloc[:,:-1]
y=df1.iloc[:,-1]

In [14]:
from sklearn.model_selection import train_test_split

X_train,X_test , y_train ,y_test=train_test_split(X,y,test_size=0.25,shuffle=True,random_state=200)
print("X shape is ",X_train.shape)
print("X  shape is ",X_test.shape)
print("y shape is ",y_train.shape)
print("y shape is ",y_test.shape)

X shape is  (75, 4)
X  shape is  (25, 4)
y shape is  (75,)
y shape is  (25,)

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
clas=LogisticRegression()

In [17]:
clas.fit(X_train,y_train)

LogisticRegression()

In [18]:
clas.score(X_train,y_train)

0.9466666666666667

In [19]:
y_pre=clas.predict(X_test)

In [20]:
clas.score(X_test,y_pre)

1.0

In [21]:
from sklearn.metrics import accuracy_score,classification_report

In [22]:
s=accuracy_score(y_pre,y_test)
print(s)

1.0

In [23]:
print(classification_report(y_pre,y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        16
           1       1.00      1.00      1.00         9

    accuracy                           1.00        25
   macro avg       1.00      1.00      1.00        25
weighted avg       1.00      1.00      1.00        25

In [24]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression

In [25]:
css=LogisticRegression()

In [26]:
par={'penalty':['l1','l2','elasticnet'],'C':[1,2,3,4,5,6,7,8,10,20,30,40,50,60,70,80],'max_iter':[100,200,300]}

In [27]:
classif_gs=GridSearchCV(css,param_grid=par,scoring='accuracy',cv=10)

In [28]:
classif_gs.fit(X_train,y_train)

C:\Users\91724\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
960 fits failed out of a total of 1440.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
480 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\91724\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\91724\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\91724\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 447, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
480 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\91724\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\91724\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\91724\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 447, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got elasticnet penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\91724\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [       nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan
        nan 0.93214286        nan        nan 0.93214286        nan]
  warnings.warn(

GridSearchCV(cv=10, estimator=LogisticRegression(),
             param_grid={'C': [1, 2, 3, 4, 5, 6, 7, 8, 10, 20, 30, 40, 50, 60,
                               70, 80],
                         'max_iter': [100, 200, 300],
                         'penalty': ['l1', 'l2', 'elasticnet']},
             scoring='accuracy')

In [29]:
print(classif_gs.best_params_)

{'C': 1, 'max_iter': 100, 'penalty': 'l2'}

In [30]:
print(classif_gs.best_score_)

0.9321428571428572